.question-form-header {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-bottom: solid 1px #cccccc;
}

.question-form-description {
  margin: 10px;
}

.question-form-title {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.question-form-option {
  margin: 10px;
  width: calc(100% - 20px);
  border: 2px #dcdcdcb9 solid;
  border-radius: 4px;
  height: 35px;
  padding: 10px;
}

.question-form-option::placeholder {
  margin-left: 10px;
  color: #dcdcdcb9;
}

.question-option-separate {
  position: relative;
  margin: 15px;
}

.option-separate-hr {
  margin: auto;
}
.option-separate-span {
  position: absolute;
  top: -12px;
  left: 260px;
  padding: 0 15px;
  background: white;
  font-weight: bold;
}

.new-question-button {
  margin: 10px;
  width: calc(100% - 20px) !important;
  height: 30px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #10b292;
  color: #10b292;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  background-color: white;
}

.new-question-button:hover {
  color: white;
  background-color: #10b292;
}
.new-question-button:disabled {
  color: white;
  background-color: gainsboro;
  border: none;
  cursor: not-allowed;
}
