.toolbar {
    height: 45px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% 2px 5%;
    z-index: 90;
    box-shadow: -7px 15px 5px -12px rgba(135,194,240,1);
}

.toolbar nav {
    height: 100%;
}
