.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  width: 500px;
  left: calc(50% - 250px);
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.modal-close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background: transparent;
  color: grey;
  cursor: pointer;
  padding: 5px;
  margin: 0px 5px;
}

.modal-close-button:hover {
  color: maroon;
}
