.navigation-item {
  box-sizing: border-box;
  margin: 0 5px;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}

.navigation-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 12px 10px;
  border-bottom: 4px solid transparent;
}

.navigation-item a:hover,
.navigation-item a:active,
.navigation-item a.active {
  background-color: #40a4c8;
  border-bottom: 4px solid #40a4c8;
  color: white;
}
