.question-action {
  width: 100%;
  padding: 10px;
  height: auto;
}

.question-header {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}

.poll-not-exist {
  margin: 40px;
  padding: 10px;
  text-align: center;
  font-size: 35px;
}

.poll-not-exist span {
  font-size: 50px;
  color: red;
}
